@import "materialize/materialize";
@import "styles/footer";


html {
  height: 100%;
}
body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.landing {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  flex-wrap: wrap;
  // padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  div {
    flex: 1 0 100%;
  }

  .logo {
    margin-top: -5vh;
    // height: 100vh;
    max-width: 55vw;

    @media screen and (max-width: 600px) {
      max-width: 80vw;
    }
  }
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    flex: 1 0 100%;
  }
  div:first-child {
    flex: 1 0 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.video-section {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  flex-wrap: wrap;
  // padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  .intro-video {
    flex: 1 0 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;

    iframe, object, embed {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      height: 70%;
      @media screen and (max-width: 600px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}


// Scroll arrows
section {
  position: relative;
  width: 100%;
  height: 15%;
}

#section07 {
  bottom: 0;
  position: absolute;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #06469F;
  border-bottom: 2px solid #06469F;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Credits
.credits {
  p {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  	font-size: 14px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 400;
  	line-height: 20px;
    color: #06469F;
  }
}

// Normal Random stuff

.right {
  text-align: right;
}

.center {
  text-align: center;
}

p {
    font-family: 'Futura', "Trebuchet MS", 'Arial', 'sans-serif';
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
  color: #008AFF;
}
p {
  margin: 0 0 20px 0;
}
